.header {
    margin: 0;
    height: 99px;
    background-color: #080808;
    border-bottom: 1px dotted #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0;
}
