.header {
    margin: 0;
    min-height: 99px;
    background-color: #080808;
    color: whitesmoke;
    border-bottom: 1px dotted #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header div {
    max-width: 1024px;
}

.logo {
    margin: 0 1rem;
    padding: auto;
    font-size: 2rem;
}

.layout {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.list {
    margin: 1rem 0;
    text-align: center;
    padding: 1rem;
}

.list li {
    font-size: 1rem;
    display: inline;
    padding: 1rem 0 1rem 2rem;
}

.link {
    display: inline-block;
    padding: 0.5em 0 0.5rem 2rem;
}

@media screen and (max-width: 670px) {
    .flex {
        flex-direction: column;
        justify-content: space-around;
    }
    .logo {
        font-size: 1.5rem;
        margin: 1rem 1rem 0;
    }
    .list {
        margin: 0;
    }
    .list li {
        padding: 0 1rem;
    }
}
