.container {
    margin: 0;
    padding: 0;
}

.image {
    width: 500px;
    border: 1px solid #222;
    border-radius: 1rem;
}

.relative {
    width: 500px;
    height: auto;
    position: relative;
}

.download {
    margin: 5px auto;
    text-align: center;
}

.flex {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    align-items: flex-start;
}

.main {
    min-height: calc(100vh - 130px);
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0 0 4rem;
    line-height: 1.5;
    font-size: 1.5rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.card {
    margin-left: 1rem;
    padding: 0 1.5rem;
    text-align: left;
    color: inherit;
    max-width: 500px;
}

.card p {
    margin: 0;
    line-height: 1.5;
}

.card p:first-of-type {
    font-size: 20px;
}

.card p:last-of-type {
    margin-top: 1rem;
}

@media (max-width: 900px) {
    .flex {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}
